[MESSAGES CONTROL]

#disable=locally-disabled,locally-enabled
disable=attribute-defined-outside-init, too-few-public-methods, too-many-public-methods, too-many-locals, too-many-instance-attributes, consider-using-dict-items, no-else-return, duplicate-code, unused-argument 


[FORMAT]

# Maximum number of characters on a single line.
#max-line-length=79


[REPORTS]

#reports=no

[MASTER]
#ignore=*_test.py
#ignore-patterns=*_test.py

init-hook='import sys; sys.path.append(".")'
