# Code analysis
bandit
#cohesion
flake8
flake8-docstrings
flake8-polyfill
#metrics.pylint
pylint
radon

# Code style
black

# Documentation
pdoc3
sphinx
sphinx-rtd-theme # for ReadTheDocs local build

# Unit test and coverage
coverage
