# Code analysis
bandit

#metrics.pylint
pylint
radon

# Code style
black

# Documentation
pdoc3
sphinx
sphinx-rtd-theme # for ReadTheDocs local build

# Unit test and coverage
coverage
pyautogui

# Database
mysql-connector-python

# Password hashing
bcrypt
